{% extends 'base.html' %}

{% block bodyblock %}

<div class="container-fluid bg-1 ">
    <h3 class="margin text-center">Recommender sysytem</h3>
    <br>
    <div class="container">
        <form action="" method="POST">
            <div class="form-row">
                <div class="form-inline">
                    <label for="" class="input_pro_id">Professional id:</label>
                    <input type="number" class="form-control" name="pro_id" id="pro_id" placeholder="Id" value="0" required>
                </div>
                <div class="form-group">
                    <label for="">Date range</label>
                    <div class="form-inline">
                        <label for="">From: </label>
                        <input type="date" name="from_day" max="3000-12-31" min="1000-01-01" class="form-control">
                        <label for="">To: </label>
                        <input type="date" name="to_day" max="3000-12-31" min="1000-01-01" class="form-control">
                    </div>
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary mb-2">
        </form>
    </div>

    {% if submited %}
    <div class="container">
        <div class="row">
            <p>ID:{{pro_id}}</p>
        </div>
        <div class="row">
            <p>Result: {{from_day}}</p>
        </div>
        <div class="row">
            <p>Score:</p>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}